@font-face {
  font-family: 'Marko One';
  src: url('../fonts/markoone-regular-webfont.woff2') format('woff2'),
       url('../fonts/markoone-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.article {
  font-family: 'Marko One', sans-serif;
  font-size: 0.9rem;
  color: #111010;
}

.article.title {
  font-size: 1.2rem;
  color: #87261d;
  text-align: center;
  margin: 3px 2px 25px 2px;
}

.article.text {
  font-size: 0.9rem;
}

.article.p {
  font-style: italic;
  margin: 8px 0px 8px 0px;
}